/*color vars */

$textColor: #6c6d73;
$mainColor: #0e51a2;
$lightBg: #f5f8fb;
$darkText: #333333;
@font-face {
  font-family: "cairo";
  src: url("../fonts/Cairo-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "cairo";
  src: url("../fonts/Cairo-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "cairo";
  src: url("../fonts/Cairo-SemiBold.ttf");
  font-weight: 600;
}

body {
  font-family: cairo;
  text-align: start;
}
.offline {
  background-color: #c4c4c4;
}
.alert-dismissible .close {
  right: auto;
  left: 0;
  outline: none;
  opacity: 1;
}
.online {
  background-color: #2ecc71;
}
.google-ad {
  padding: 50px 0;
  div {
    width: 300px;
    height: 100px;
    background-color: $mainColor;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  @media (max-width: 991px) {
    display: block !important;
    div {
      margin: 0 auto 16px;
    }
  }
}
.google-lg {
  div {
    height: 250px;
  }
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  box-shadow: none;
  background-color: transparent;
}
/* upper nav */

.upperNav {
  padding: 24px 0;
  border-bottom: 2px solid #a9b0c8;
  position: relative;
  .logo {
    @media (max-width: 991px) {
      display: none;
    }
  }
  .form-trigger {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $mainColor;
    border-radius: 5px;
    color: #fff;
    display: none;
    @media (max-width: 991px) {
      display: flex;
    }
  }
  .search-container {
    display: flex;
    align-items: center;
    transition: 0.3s;
    i {
      margin-inline-end: 16px;
      font-size: 24px;
    }
    form {
      width: 100%;
      input {
        width: 100%;
        border: none;
        outline: none;
        &::placeholder {
          color: $textColor;
          font-size: 15px;
          font-weight: 600;
          @media (max-width: 500px) {
            font-size: 13px;
          }
        }
      }
      button {
        position: absolute;
        left: 0;
        background: transparent;
        border: none;
        height: calc(100% + 4px);
        display: flex;
        align-items: center;
        justify-content: center;
        top: -2px;
        left: -2px;
        background-color: $mainColor;
        width: 50px;
        color: #fff;
        border-radius: 5px 0 0 5px;
        outline: none;
        cursor: pointer;
        i {
          margin: 0 !important;
          font-size: 18px !important;
        }
        @media (max-width: 500px) {
          width: 35px;
          i {
            margin: 0 !important;
            font-size: 14px !important;
          }
        }
      }
    }
    @media (max-width: 991px) {
      position: absolute;
      right: 50%;
      width: 98%;
      transform: translateX(50%);
      background-color: #fff;
      height: 100%;
      z-index: 22;
      display: flex;
      flex-wrap: nowrap;
      top: -105%;
      margin: 0 !important;
    }
  }
  .search-container.slide-form {
    top: 0;
  }
  .search {
    border: 2px solid $mainColor;
    padding: 8px;
    border-radius: 8px;
    width: 500px;
    align-items: center;
    position: relative;
    @media (max-width: 991px) {
      width: 100%;
    }
    .dropdown {
      button {
        background: transparent;
        color: $textColor;
        border: none;
        display: flex;
        align-items: center;
        font-weight: bold;
        border-left: 1px solid $mainColor;
        margin-inline-end: 16px;
        border-radius: 0;
        padding: 0;
        &::after {
          margin-inline-end: 16px;
          margin-inline-start: 8px;
        }
        &:focus {
          box-shadow: none !important;
          outline: none;
        }
        i {
          margin-inline-end: 5px;
        }
        @media (max-width: 500px) {
          font-size: 13px;
          margin-inline-end: 8px;
          &::after {
            margin-inline-end: 8px;
            margin-inline-start: 8px;
          }
          i {
            font-size: 14px;
          }
        }
      }
    }
  }

  .login {
    display: flex;
    align-items: center;
    .login-buttons {
      a {
        text-decoration: none;
        color: $darkText;
        font-weight: 600;
      }
    }
    .add-AD {
      margin-inline-start: 24px;
      @media (max-width: 500px) {
        margin-inline-start: 12px;
      }
      a {
        text-decoration: none;
        padding: 12px;
        border: 2px solid #e1b80f;
        background-color: #fcec52;
        color: #000000;
        font-weight: bold;
        display: block;
        position: relative;
        transition: 0.3s;
        @media (max-width: 500px) {
          font-size: 13px;
          padding: 8px;
        }
        span {
          z-index: 3;
          position: relative;
        }
        &::after {
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 0;
          background-color: #e1b80f;
          content: "";
          display: block;
          transition: 0.3s;
          z-index: 2;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

/*navbar*/
.navbar {
  background-color: $lightBg;
  padding: 16px;
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-weight: bold;
        i {
          margin-inline-end: 5px;
          font-size: 14px;
        }
      }
    }
  }
}

.category-drop {
  width: 98%;
  right: 50%;
  transform: translateX(50%);
  text-align: start;
  @media (max-width: 991px) {
    width: 100%;
    right: 0;
    transform: translateX(0%);
    text-align: start;
    .drop-content {
      display: block !important;
    }
  }
}
.community-drop {
  width: 90%;
  right: 50%;
  transform: translateX(50%);
  text-align: start;
  @media (max-width: 991px) {
    width: 100%;
    right: 0;
    transform: translateX(0%);
    text-align: start;
    .community-holder div {
      display: block !important;
    }
  }
  .community-holder {
    div {
      margin-bottom: 12px;
    }
  }
  img {
    margin-inline-end: 5px;
  }
}
.nav-link.cars.dropdown-toggle,
.nav-link.dropdown-toggle.users {
  &::after {
    display: none;
  }
}
.cars {
  color: #55adaf !important;
}
.percent {
  color: #e15b93 !important;
}
.building {
  color: #e2b357 !important;
}
.cogs {
  color: #7bc970 !important;
}
.briefcase {
  color: #af4d4d !important;
}
.users {
  color: #4cb6e3 !important;
}
.paw {
  color: #a87e2c !important;
}
/*slider */

.slider {
  height: 450px;
  padding: 24px 0;
  .container {
    height: 100%;
    .login-alert {
      .alert {
        background-color: #ffb446;
        color: #fff;
        padding: 16px;
        @media (max-width: 574px) {
          font-size: 13px;
          padding-inline-end: 45px;
        }
        svg {
          margin-inline-end: 5px;
        }
        a {
          color: $mainColor;
          text-decoration: none;
          font-weight: bold;
          display: inline-block;
          margin: 0 5px;
        }
      }
    }
  }
  .carousel-inner,
  .carousel-item,
  img {
    height: 100%;
  }
  .carousel-item {
    img {
      object-fit: cover;
    }
  }
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

/* top categories */
.top-categories {
  padding: 50px 0;
  h2 {
    font-weight: bold;
    @media (max-width: 575px) {
      font-size: 18px;
    }
  }
}
.owl-carousel {
  img {
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 24px;
  }
  .Category-content {
    h4 {
      font-weight: bold;
    }
    span {
      color: $textColor;
    }
  }
}

/*owl-nav */
.owl-nav {
  position: absolute;
  top: -85px;
  left: 0;
  @media (max-width: 575px) {
    top: -75px !important;
  }
}
.owl-prev,
.owl-next {
  background-color: $lightBg !important;
  width: 50px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: 8px;
  outline: none;
  span {
    opacity: 0;
  }
}
.owl-prev {
  position: relative;
  &::after {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "\f30b";
    display: block;
    transition: 0.3s;
    z-index: 2;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #6c6d73;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
}
.owl-next {
  position: relative;
  &::after {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "\f30a";
    display: block;
    transition: 0.3s;
    z-index: 2;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #6c6d73;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
}

/*special*/
.special {
  background-color: $lightBg;
  .card {
    border-radius: 10px;
    img {
      height: 150px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
    .fav-icon {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 35px;
      height: 35px;
      background-color: $lightBg;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 19px;
    }
    .card-body {
      padding: 10px;
      .card-title {
        font-size: 16px;
        margin: 12px 0 36px;
        align-items: center;
        .normal {
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 9px;
          border: 2px solid #584f3f;
          background: transparent;
          border-radius: 50%;
          i {
            color: #584f3f;
          }
        }
      }
      .time {
        color: #6c6d73;
        font-size: 13px;
        .separator {
          margin: 0 12px;
        }
        .clock,
        .location {
          svg {
            margin-inline-end: 3px;
          }
        }
      }
      .ad-price.negotiable {
        padding-bottom: 16px;
        border-bottom: 1px solid #d3d7e3;
        .value {
          font-size: 18px;
        }
        button {
          background-color: #0c4504;
          color: #fff;
        }
      }
      .publisher {
        padding: 16px 0;
        .name {
          display: flex;
          justify-content: center;

          h5 {
            font-weight: bold;
            font-size: 16px;
          }
          span {
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
        .rate {
          display: flex;
          justify-content: space-between;
          .rate-number {
            color: #6c6d73;
          }
          .fa-star {
            color: #ebeced;
            font-size: 13px;
          }
          .fa-star.checked {
            color: #ffc22b;
            font-size: 13px;
          }
        }
      }
    }
  }
}

/*more-ads*/

.more-ads {
  padding: 20px 0 50px;
  background-color: #fff;
  h2 {
    font-weight: bold;
    margin-bottom: 32px;
    @media (max-width: 575px) {
      font-size: 18px;
    }
  }
  .nav-tabs {
    padding: 0;
    border: none;
    @media (max-width: 991px) {
      flex-wrap: nowrap;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none !important;
      }
      .nav-link {
        min-width: 130px;
        text-align: center;
      }
    }
    .nav-item {
      .nav-link {
        background-color: $lightBg;
        color: $mainColor;
        margin-inline-end: 12px;
        margin-bottom: 12px;
      }
    }
    .nav-link.active {
      background-color: $mainColor;
      color: #fff;
    }
  }
  .owl-nav {
    top: -60px;
    @media (max-width: 991px) {
      top: -145px !important;
    }
    @media (max-width: 575px) {
      top: -135px !important;
    }
  }
}
.top-cities {
  background-color: $lightBg;
}

footer {
  padding: 32px 0;
  background-color: $lightBg;
  text-align: right;
  .col-lg-9 {
    border-left: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
    .footer-links {
      a {
        font-weight: bold;
        color: #000;
        text-decoration: none;
        font-size: 14px;
        margin-inline-end: 16px;
      }
      p {
        margin-top: 24px;
      }
    }
    .footer-info {
      align-items: center;
      p {
        margin: 0;
        font-weight: bold;
      }
      a {
        background-color: #fcec52;
        border: 1px solid #e1b80f;
        padding: 8px 16px;
        color: #000000;
        text-decoration: none;
        font-weight: bold;
      }
      @media (max-width: 767px) {
        flex-wrap: wrap;
        p {
          margin-bottom: 12px;
        }
      }
    }
    @media (max-width: 991px) {
      border: none;
      .footer-links {
        a {
          display: inline-block;
          margin-bottom: 12px;
        }
      }
    }
  }

  .col-lg-3 {
    margin-bottom: 24px;
    h4 {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 24px;
    }
    .arab-flags {
      div {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        img {
          width: 30px;
        }
      }
    }
  }
}

/*search drop */
.search-items {
  max-width: 600px;
  height: 400px;
  overflow: auto;
  position: absolute;
  top: 160%;
  width: 100%;
  display: none;
  background-color: #fff !important;
  transition: 1s;
  right: 0;
  z-index: 999999;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 8px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 8px;
  }
  /* background-color: #f1f1f1; */
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 4px #eee;
  padding: 16px;
  margin: auto;
  .dropdown {
    button {
      background-color: transparent;
      border: 1px solid #eee !important;
      color: #000 !important;
      font-weight: bold;
      text-align: start;
      width: 65%;
      padding: 12px !important;
      border-radius: 5px !important;
      position: relative;
      &::after {
        display: none;
      }
      &::before {
        content: "\f078";
        display: block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 12px;
        top: 12px;
      }
    }
  }
  .search-results {
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 24px;
    padding-top: 24px;
    img {
      margin-inline-end: 8px;
      border-radius: 5px;
    }
    .item-content {
      h5 {
        font-weight: 600;
        margin-bottom: 8px;
      }
      .separator {
        width: 10px;
        height: 10px;
        background-color: #eee;
        border-radius: 50%;
        display: inline-block;
        margin: 0 12px;
      }
      p {
        font-size: 14px;
        margin: 0;
        i {
          font-size: 15px;
          margin-inline-end: 5px;
        }
      }
    }
  }
}

/*all-cities*/
.all-cities {
  h4 {
    font-size: 16px;
    margin-bottom: 12px;
    i {
      margin-inline-end: 5px;
    }
  }
}
.search-items.show-city,
.search-items.show-cats {
  display: block;
  top: 100%;
}
.logged-user {
  svg {
    margin-left: 12px;
  }
  .dropdown {
    button {
      background-color: transparent;
      border: none;
      padding: 0;
      box-shadow: none !important;
      position: relative;
      .active-user {
        position: absolute;
        right: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #1dd11d;
      }
      &::after {
        display: none;
      }

      img {
        border-radius: 50%;
      }
    }
    .dropdown-menu {
      text-align: start;
      padding: 8px;
      min-width: 200px;
      .dropdown-item {
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;
        padding: 8px 0;
      }
      .dropdown-item:last-of-type {
        border: none;
      }
    }
  }
}
